#logo {
    background:#48C9B0;
    padding: 0 17px;
    font-weight: bold;
    color: #000;
    font-size: x-large;
}
#logo_ {
    background: #48C9B0;
    padding: 0 17px;
    font-weight: bold;
    color: #000;
}
.footer{
  background: #000;
  color:white;
}
.links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
.about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i:{font-size: 18px;}
  }
.copyright p{border-top:1px solid rgba(255,255,255,.1);} 
#HeaderProp{
  color:black;
  font-weight: bold;
  background: #16A085
}
.nav-link:hover{
    color:#48C9B0;
}